<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>autolayoutAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BBC9B9A1C10B46300F85B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BBC9BAE1C10B46300F85B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BBC9BB91C10B46300F85B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
